@model LabBigSchool.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

<style>
    .navbar-inverse .navbar-brand {
        color: yellow;
    }

        .navbar-inverse .navbar-brand::before {
            transform: scaleX(0);
            transform-origin: bottom right;
        }

        .navbar-inverse .navbar-brand:hover::before {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        .navbar-inverse .navbar-brand::before {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            inset: 0 0 0 0;
            background: hsl(200 100% 80%);
            z-index: -1;
            transition: transform .3s ease;
        }

    .navbar-inverse .navbar-brand {
        position: relative;
        font-size: 20px;
        margin-left: -60px
    }

    html {
        block-size: 100%;
        inline-size: 100%;
    }

    body {
        min-block-size: 100%;
        min-inline-size: 100%;
        margin: 0;
        box-sizing: border-box;
        display: grid;
        place-content: center;
        font-family: system-ui, sans-serif;
    }


    body {
        grid-auto-flow: column;
    }

    .row {
        margin-right: -49px;
        margin-left: -15px;
        margin-top: -153px;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
